h3, h4{
  text-align: center;
}

#blog .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blog article{
  margin: 15px;
}

#blog img{
  width: 100%;
  max-width: 2800px;
  min-width: : 280px;
  min-height: 300px;
  border-radius: 7px;
  border-bottom: 2px solid rgba(22, 180, 14, 0.6);
}

@media(min-width: 400px){
  #blog p{

  max-width: 300px;
  }
}
