
.icon-food:before { content: '\e800'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pied-piper:before { content: '\f2ae'; } /* '' */